body {
	margin: 0;
}

#tilesetContainer {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 320px;
}
#tilesetImageContainer {
	position: absolute;
	bottom: 0px;
	top: 26px;
	left: 0px;
	right: 0px;
	/*overflow: hidden;
	overflow-y: scroll;*/
	overflow: hidden;
}
#tilesetImageContainer canvas {
	visibility: visible;
	display: block;
	position: absolute;
}
#tilesetImageContainer canvas.hide {
	visibility: hidden;
}
#tilesetImageContainer canvas.image {
	position: absolute;
}
#tilesetImageContainer canvas.mask {
	
}

.scrollbars.horizontal.track {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 10px;
}
.scrollbars.vertical.track {
	position: absolute;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 10px;
}
.scrollbars.horizontal.track.hidden {
	height: 2px;
}
.scrollbars.vertical.track.hidden {
	width: 2px;
}

.scrollbars.horizontal .thumb {
	position: absolute;
	top: 0px;
	bottom: 0px;
}
.scrollbars.vertical .thumb {
	position: absolute;
	left: 0px;
	right: 0px;
}