body {
	margin: 0;
}

#tilesetContainer {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	width: 330px;
	padding: 1px;
}
#tilesetImageContainer {
	position: absolute;
	bottom: 0px;
	top: 26px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	overflow-y: scroll;
}

#tilesetImageContainer canvas {
	visibility: visible;
	display: block;
	position: absolute;
}
#tilesetImageContainer canvas.hide {
	visibility: hidden;
}
#tilesetImageContainer canvas.image {
	position: absolute;
}
#tilesetImageContainer canvas.mask {
	
}
