body {
	font-family: Tahoma, sans-serif;
	font-size: 13px;
	background-color: black;
}

.scrollbars.horizontal {
	-webkit-transition: height .2s ease-in-out, background-color .2s ease-in-out;
}
.scrollbars.vertical {
	-webkit-transition: width .2s ease-in-out, background-color .2s ease-in-out;
}
.scrollbars.horizontal .thumb {
	-webkit-transition: background-color .2s ease-in-out;
}
.scrollbars.vertical .thumb {
	-webkit-transition: background-color .2s ease-in-out;
}

.scrollbars.track {
	background-color: rgba(0, 0, 0, 0.3);
}
.scrollbars .thumb {
	background-color: rgba(50, 200, 255, 0.9);
}

.scrollbars.track.hidden {
	background-color: transparent;
}
.scrollbars.track.hidden .thumb {
	background-color: #0bf;
}



aside#leftpanel {
	border-right: 1px solid black;
}

#tilesetwrapper {
	background-color: black;
	overflow: hidden;
}

.canvaswrapper, #tilesetscrollfix {
	background-color: #201850;
}
.canvaswrapper canvas, .tilesetImage canvas {
	background-color: rgb(72, 48, 168);
}
#animwrapper .canvaswrapper canvas {
	background-color: transparent;
}

#tilesetwrapper .scrollbars.track.hidden {
	background-color: black;
}

.tilesetImage .image, .tilesetImage .mask {
	-webkit-transition: opacity .3s ease-in-out;
}

#tilesetProgress {
	-webkit-appearance: none;
	width: 288px;
	position: absolute;
	left: 16px;
	top: 50%;
	height: 48px;
	margin-top: -24px;
	border: 8px solid rgba(0, 0, 0, 0.4);
}
#tilesetProgress::-webkit-progress-bar {
	background-color: rgba(0, 0, 0, 0.4);
}
#tilesetProgress::-webkit-progress-value {
	background-color: #09F;
	background-color: #4830A8;
}


.toolbar {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(#555));
	/*background-color: #666;*/
	border-top: 1px solid #888;
	border-bottom: 1px solid #000;
	color: #EEE;
	padding-left: 3px;
	/*text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);*/
}

.toolbar select {
	border: 1px solid #777;
	border-top: none;
	border-bottom: none;
	border-right: 1px solid #eee;
	background-color: #DDD;
	background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#dedede));
	height: 19px;
	margin: 0px;
	padding: 0px;
	border-radius: 0px;
	font-size: 14px;
	position: relative;
	top: -1px;
}
.toolbar select[disabled] {
	color: #999;
}
.toolbar button {
	margin: 0px;
	margin-left: 1px;
	padding: 0px 4px;
	font-size: 13px;
	color: black;
	height: 18px;
	background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#dedede));
	background-color: #D0D0D0;
	border: 0px solid #555;
	border-bottom: none;
	border-top: none;
	min-width: 18px;
	color: #111;
}
.toolbar button:active {
	/*background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#999));*/
	background: #d0d0d0;
	color: #000;
}
.toolbar button.selected {
	/*background: -webkit-gradient(linear, left top, left bottom, from(#777), to(#888));*/
	background: #888;
	color: white;
	outline: 1px solid rgba(0, 0, 0, 0.025);
}
.toolbar button.selected:active {
	/*background: -webkit-gradient(linear, left top, left bottom, from(#777), to(#888));*/
	background: #777;
	color: #EEE;
	outline: 1px solid rgba(0, 0, 0, 0.05);
}
.toolbar button:disabled {
	color: #888;
	background: #BBB;
}
.toolbar button.selected:disabled {
	color: #EEE;
	background: #999;
	outline: 1px solid rgba(0, 0, 0, 0.025);
}

#selecttileset {
	margin: 0px;
}


#statusbar {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#e0e0e0));
	border-top: 1px solid #000;
}

.tileSelection {
	outline: 2px solid rgba(0, 187, 255, 1.0);
	background-color: rgba(0, 187, 255, 0.15);
	box-shadow: inset 0px 0px 64px rgba(0, 187, 255, 0.5), 0px 0px 24px black, 0px 0px 24px black;
	/*-webkit-transition: opacity .05s ease-in-out, visibility .05s ease-in-out;*/
}

/*::-webkit-scrollbar {
	height: 12px;
	overflow: visible;
	width: 12px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .2);
	background-clip: padding-box;
	border: solid transparent;
	border-width: 1px 1px 1px 1px;
	min-height: 28px;
	padding: 100px 0 0;
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px -1px 0 rgba(0, 0, 0, .05);
}
::-webkit-scrollbar-button {
	height: 0;
	width: 0;
}
::-webkit-scrollbar-track {
	background-color: white;

}
::-webkit-scrollbar-corner {
	background: transparent;
}
body::-webkit-scrollbar-track-piece {
	background-clip: padding-box;
	background-color: whiteSmoke;
	border: solid transparent;
	border-width: 0 0 0 3px;
	box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14),inset -1px 0 0 rgba(0, 0, 0, .07);
}
body::-webkit-scrollbar-corner {
	background-clip: padding-box;
	background-color: whiteSmoke;
	border: solid white;
	border-width: 3px 0 0 3px;
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .14);
}*/

/*body {
	font-family: Ubuntu, Arial, sans-serif;
	font-size: 75%;
}

select.tileset {
	width: 200px;
}
select.tileset option.warning {
	background-color: #FDD;
	color: red;
}

.scrollbars.horizontal {
	-webkit-transition: height .2s ease-in-out, background-color .2s ease-in-out;
}
.scrollbars.vertical {
	-webkit-transition: width .2s ease-in-out, background-color .2s ease-in-out;
}
.scrollbars.horizontal .thumb {
	-webkit-transition: background-color .2s ease-in-out;
}
.scrollbars.vertical .thumb {
	-webkit-transition: background-color .2s ease-in-out;
}

.scrollbars.track {
	background-color: rgba(0, 0, 0, 0.3);
}
.scrollbars .thumb {
	background-color: rgba(0, 187, 255, 0.9);
}

.scrollbars.track.hidden {
	background-color: transparent;
}
.scrollbars.track.hidden .thumb {
	background-color: #0bf;
}



#tilesetContainer {
	
}
#tilesetImageContainer {
	border-right: 1px solid black;
	background-color: rgb(32, 24, 80);
}
#tilesetImageContainer .image {
	background-color: #4830A8;
}

#tilesetImageContainer .scrollbars.vertical.track.hidden {
	background-color: black;
}
#tilesetImageContainer .scrollbars.vertical.track.disabled {
	visibility: visible;
}
#tilesetImageContainer .scrollbars.vertical.track.disabled .thumb {
	visibility: hidden;
}

.tileSelection {
	outline: 2px solid rgba(0, 187, 255, 1.0);
	background-color: rgba(0, 187, 255, 0.15);
	box-shadow: inset 0px 0px 64px rgba(0, 187, 255, 0.5), 0px 0px 24px black, 0px 0px 24px black;
	-webkit-transition: opacity .1s ease-in-out, visibility .1s ease-in-out;
}
*/