
dialog {
	padding: 0;
	border: none;
	border-radius: 4px;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
	background: transparent;
	min-width: 200px;
	padding: 4px;
	background-color: hsl(227, 14%, 20%);
	color: hsl(227, 14%, 85%);
	font-size: 14px;
}
dialog .title {
	text-align: center;
	padding: 5px;
	font-weight: bold;
	color: #DDD;
}
dialog > form {

}
dialog a {
	color: #ABF;
}
dialog .content {
	background-color: hsl(227, 14%, 25%);
	padding: 10px;
	border: 1px solid hsl(227, 14%, 15%);
	border-radius: 2px;
}
dialog .buttons {
	padding: 2px;
	text-align: center;
	clear: both;
}

dialog::backdrop, dialog + .backdrop {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
}

dialog button, dialog input[type='submit'] {
	background-color: hsl(227, 14%, 60%);
	border: 1px solid hsl(227, 14%, 15%);
	border-radius: 2px;
	color: hsl(227, 14%, 10%);
	font-weight: bold;
	font-size: 14px;
	padding: 3px;
	min-width: 70px;
	margin: 2px;
}

dialog input[type='text'], dialog input[type='number'] {
	border: 1px solid hsl(227, 14%, 15%);
	border-radius: 2px;
	background-color: hsl(227, 14%, 30%);
	color: white;
	font-size: 14px;
	padding: 2px 4px;
	margin: 2px;
}

dialog input[type='color'] {
	border: 1px solid hsl(227, 14%, 15%);
	border-radius: 2px;
	background-color: hsl(227, 14%, 40%);
	padding: 0;
	margin: 2px;
}
dialog input[type='color']::-webkit-color-swatch-wrapper {
	padding: 2px;
}
dialog input[type='color']::-webkit-color-swatch {
	border: none;
}

dialog select {
	border: 1px solid hsl(227, 14%, 15%);
	border-radius: 2px;
	background-color: hsl(227, 14%, 30%);
	color: white;
	font-size: 14px;
	padding: 2px 4px;
	margin: 2px;
}
dialog select option {
	background-color: hsl(227, 14%, 30%);
	color: white;
}

dialog textarea {
	border: 1px solid hsl(227, 14%, 15%);
	border-radius: 2px;
	background-color: hsl(227, 14%, 30%);
	color: white;
	font-size: 14px;
	padding: 2px 4px;
	margin: 2px;
	font-family: sans-serif;
}

dialog input:disabled, dialog select:disabled {
	/*color: hsl(227, 14%, 50%);*/
	opacity: 0.3;
}
dialog input[type='color']:disabled::-webkit-color-swatch {
	opacity: 0.6;
}