.scrollbars.horizontal.track {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 12px;
	border-width: 0;
	border-top-width: 1px;
}
.scrollbars.vertical.track {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 12px;
	border-width: 0;
	border-left-width: 1px;
}
.scrollbars.horizontal.track.both {
	right: 13px;
}
.scrollbars.vertical.track.both {
	bottom: 13px;
}
.scrollbars.horizontal.track.hidden {
	/*height: 2px;*/
}
.scrollbars.vertical.track.hidden {
	/*width: 2px;*/
}
.scrollbars.track.disabled {
	visibility: hidden;
}

.scrollbars.horizontal .thumb {
	position: absolute;
	top: 0;
	bottom: 0;
}
.scrollbars.vertical .thumb {
	position: absolute;
	left: 0;
	right: 0;
}
.scrollbars.corner {
	width: 13px;
	height: 13px;
	position: absolute;
	right: 0;
	bottom: 0;
}
.scrollbars.corner.disabled {
	visibility: hidden;
}

.scrollNode {
	position: absolute;
	display: block;
	overflow: hidden;
}


/* THEME */
/*
.scrollbars.horizontal {
	transition: height .2s ease-in-out, background-color .2s ease-in-out;
}
.scrollbars.vertical {
	transition: width .2s ease-in-out, background-color .2s ease-in-out;
}
.scrollbars.horizontal .thumb {
	transition: background-color .2s ease-in-out, left .15s ease-out;
}
.scrollbars.vertical .thumb {
	transition: background-color .2s ease-in-out, top .15s ease-out;
}
*/
.scrollbars.track {
	background-color: #3e434f;
	border-color: #2b2e39;
	border-style: solid;
}
.scrollbars.track .thumb {
	background-color: #767b87;
	/*border: 3px solid #3e434f;*/
}
.scrollbars.track .thumb:active, .scrollbars.track .thumb:hover {
	background-color: #4084D6;
}
.scrollbars.corner {
	background-color: #3e434f;
}
.scrollbars.corner:after {
	content: "";
	position: absolute;
	background-color: #2b2e39;
	width: 1px;
	height: 1px;
}

.scrollbars.track.hidden {
	/*background-color: transparent;*/
}
.scrollbars.track.hidden .thumb {
	/*background-color: #0bf;*/
}

.scrollbars.smooth {
	/*transition: left .15s ease-out, top .15s ease-out;*/
	width: 0;
	height: 0;
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
}
.scrollParent.notransition .scrollbars.smooth, .scrollParent.notransition .scrollbars, .scrollParent.notransition .scrollbars .thumb {
	transition: none !important;
}
