
@import url('scrollbars.css');

html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;

	font-family: sans-serif;
	font-size: 13px;

	/*background-color: rgb(32, 24, 80);*/
	background-color: #383c4a;

	-webkit-user-select: none;
	cursor: default;
}

#app {
	height: 100%;
	overflow: hidden;
}

#editor {
	position: relative;
	height: 100%;
}
#menu + #editor {
	height: calc(100% - 21px);
}

.center {
	text-align: center;
}

.right {
	float: right;
}

.fullheight {
	height: 100%;
}

.flexwrapper {
	display: flex;
}
.flexfluid {
	flex: 1;
	min-width: 0;
}
.flexflowcolumn {
	flex-flow: column;
}

.renderer {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
}

.panels {
	display: flex;
	height: 100%;
}
.panels .column {
	display: flex;
	flex-flow: column;
}
.panels .column:not(:last-child) {
	border-right: 1px solid #2b2e39;
}

.panel {
	position: relative;
	overflow: hidden;
	display: flex;
	flex-flow: column;
}
.panel .toolbar {
	display: flex;
}
.panel .panelcontent {
	position: relative;
	overflow: hidden;
	flex: 1;
}
#tilesetpanel {
	width: 333px;
}
#animpanel {
	min-width: 128px;
}

.toolbar {
	
}
.toolbar strong {

}
.toolbar strong.flexfluid {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 0px;
}
.toolbar button {
	overflow: hidden;
}
.toolbar select {

}
.toolbar > .right {
	position: relative;
}

.text-ellipsis {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.text-clip {
	white-space: nowrap;
	text-overflow: clip;
	overflow: hidden;
}

.canvaswrapper {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition: margin .15s ease-out;
}
.canvaswrapper canvas {
	display: block;
}

.mask-transition {
	position: absolute;
	width: 0;
	transition: opacity .2s ease-in-out;
	opacity: 0;
}
