.toolbar {
	height: 18px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(#555));
	background-color: #555;
	/*background-color: #666;*/
	border-top: 1px solid #888;
	border-bottom: 1px solid #000;
	color: #EEE;
	/*text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);*/
}

.toolbar strong {
	padding-right: 5px;
	padding-left: 5px;
}

.toolbar .selectwrap {
	text-align: right;
}

.toolbar select {
	color: white;
	border: 1px solid #666;
	border-top: none;
	border-bottom: none;
	background: -webkit-gradient(linear, left top, left bottom, from(#777), to(#555));
	background-color: #555;
	height: 100%;
	margin: 0px;
	padding: 0px;
	border-radius: 0px;
	font-size: 14px;
	width: 100%;
	max-width: 180px;
}
.toolbar select[disabled] {
	color: #bbb;
}
.toolbar button {
	margin: 0px;
	margin-left: 1px;
	padding: 0px 4px;
	font-size: 13px;
	color: black;
	height: 100%;
	background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#dedede));
	background-color: #D0D0D0;
	border: 0px solid #555;
	border-bottom: none;
	border-top: none;
	min-width: 18px;
	color: #111;
	line-height: 18px;
}
.toolbar button:active {
	/*background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#999));*/
	background: #d0d0d0;
	color: #000;
}
.toolbar button.selected {
	/*background: -webkit-gradient(linear, left top, left bottom, from(#777), to(#888));*/
	background: #888;
	color: white;
	outline: 1px solid rgba(0, 0, 0, 0.025);
}
.toolbar button.selected:active {
	/*background: -webkit-gradient(linear, left top, left bottom, from(#777), to(#888));*/
	background: #777;
	color: #EEE;
	outline: 1px solid rgba(0, 0, 0, 0.05);
}
.toolbar button:disabled {
	color: #888;
	background: #BBB;
}
.toolbar button.selected:disabled {
	color: #EEE;
	background: #999;
	outline: 1px solid rgba(0, 0, 0, 0.025);
}
.toolbar strong {
	position: relative;
	top: 1px;
}